.accordion {
    width: 1280px;
}

.riskCategory {
    padding-bottom: 1rem;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
}

.riskAssessmentButtonWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.button {
    width: 300px;
}

@media screen and (max-width: 1280px) {
    .accordion {
        width: 100%
    }
}

@media screen and (max-width: 500px) {
    .button {
        width: 100%
    }
}