.card {
    width: 300px;
    min-height: 120px;
    background-size: cover;
    background-position: center center;
    margin: 1rem;
    cursor: pointer;
}

.title {
    text-align: left;
}

@media screen and (max-width: calc(4rem + 600px)) {
    .card {
        margin-left: auto;
        margin-right: auto;
    }
}