.content {
    display: flex;
    flex-direction: column;
}

.layout {
    justify-content: space-between;
    width: 100vw;
}

.outlet {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

    div.outlet > div {
        max-width: 1280px;
        margin: auto;
    }

@media screen and (max-width: 1280px) {
    .layout {
        width: 100vw;
    }

    div.outlet > div {
        width: calc(100% - 3rem);
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    div.outlet > div {
        width: calc(100% - 1.5rem);
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
}