.buttonWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}

.button {
    width: 160px;
}

@media screen and (max-width: calc(500px + 3rem)) {
    .buttonWrapper {
        flex-direction: column-reverse;
    }

    .button {
        width: 100%;
    }
}